#include "src\\resource.h"

IDI_APP_ICON ICON "resources\\cwitcher.ico"
IDI_GITHUB_ICON ICON "resources\\github-invertocat.ico"

IDB_UI_LANGUAGE_24 RCDATA "resources\\icons\\preview\\language_24.png"
IDB_UI_KEYBOARD_28 RCDATA "resources\\icons\\preview\\keyboard_28.png"
IDB_UI_AUTOSTART_25 RCDATA "resources\\icons\\preview\\autostart_25.png"
IDB_UI_SOUND_29 RCDATA "resources\\icons\\preview\\sound_29.png"
IDB_UI_INFO_26 RCDATA "resources\\icons\\preview\\info_26.png"
IDB_UI_INFO_20 RCDATA "resources\\icons\\preview\\info_20.png"
IDB_UI_LOG_29 RCDATA "resources\\icons\\preview\\log_29.png"
IDB_UI_SAVE_WHITE_21 RCDATA "resources\\icons\\preview\\save_white_21.png"
IDB_UI_DELETE_21 RCDATA "resources\\icons\\preview\\delete_21.png"
IDB_UI_RESET_21 RCDATA "resources\\icons\\preview\\reset_21.png"
IDB_UI_STORE_24 RCDATA "resources\\icons\\preview\\store_24.png"
IDB_UI_LOGO_WORDMARK_HEADER RCDATA "resources\\icons\\preview\\logo_wordmark_header.png"
IDB_UI_LOGO_WORDMARK_BRAND RCDATA "resources\\icons\\preview\\logo_wordmark_brand.png"
IDB_UI_LOGO_32 RCDATA "resources\\icons\\preview\\logo_32.png"
IDB_UI_LOGO_TOP_40 RCDATA "resources\\icons\\preview\\logo_top_40.png"
IDB_UI_LOGO_56 RCDATA "resources\\icons\\preview\\logo_56.png"
